In [11]:
import pandas as pd
import numpy as np
import numpy.random as npr

In [106]:
def make_field(rows=9, cols=9, mines=10):
    total_cells = rows*cols
    non_mine_cells = total_cells - mines
    
    numbers = list([0] * non_mine_cells)
    bombs = list([1] * mines)
    numbers.extend(bombs)
    
    field = np.array(numbers)
    npr.shuffle(field)
    
    df = pd.DataFrame(field.reshape((9, 9)), columns=list('ABCDEFGHI'), index=list('ABCDEFGHI'))
    return df

def calc_local_mines():
    df = make_field()
    shifts = [df.shift(1) - df,
     df.shift(-1) - df,
    df.shift(1, axis=1) - df,
    df.shift(-1, axis=1) - df,
    df.shift(1).shift(axis=1) - df,
    df.shift(-1).shift(axis=1) - df,
    df.shift(1).shift(-1, axis=1) - df,
    df.shift(-1).shift(-1, axis=1) - df]
    main = df.copy()
    for shift in shifts:
        main += clean(shift)
    main[df == 1] = 'X'

    return main

def clean(df):
    return df.fillna(0).replace(-1, 0)

In [118]:
def convert(x):
    try:
        return int(x)
    except:
        return x
df = calc_local_mines()
df.applymap(convert)

   A  B  C  D  E  F  G  H  I
A  X  1  0  1  X  1  0  0  0
B  2  2  0  2  2  3  1  1  0
C  X  1  0  1  X  2  X  1  0
D  1  2  1  2  1  2  1  1  0
E  0  1  X  1  1  1  1  0  0
F  0  1  1  1  2  X  2  0  0
G  1  1  2  1  3  X  2  0  0
H  1  X  2  X  2  1  1  0  0
I  1  1  2  1  1  0  0  0  0

# Todo: given several coordinates, solve the puzzle completely

In [81]:
df.shift(1) - df # + 1 at the cells with mines above them
df.shift(-1) - df # + 1 at the cells with mines below them
df.shift(1, axis=1) - df # + 1 cells with mines to the left
df.shift(-1, axis=1) - df # + 1 cells with mines to the right
df.shift(1).shift(axis=1) - df # + 1 cells w/ mines upper right diagonal
df.shift(-1).shift(axis=1) - df # + 1 cells w/ mines lower right diagonal
df.shift(1).shift(-1, axis=1) - df # + 1 cells w/mines lower left
df.shift(-1).shift(-1, axis=1) - df # + 1 cells w/mines lower left

     A    B    C    D    E    F    G    H   I
A -1.0  0.0 -1.0  0.0  0.0  0.0  0.0  0.0 NaN
B  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 NaN
C  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0 NaN
D  0.0  0.0  0.0 -1.0 -1.0  0.0  1.0  0.0 NaN
E  0.0  0.0  1.0  0.0  0.0  0.0  1.0 -1.0 NaN
F -1.0  0.0  0.0 -1.0  0.0  1.0  0.0  0.0 NaN
G  0.0  0.0  0.0  0.0  0.0  0.0 -1.0  0.0 NaN
H  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 NaN
I  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN

In [99]:
def clean(df):
    return df.fillna(0).replace(-1, 0)

def calc_local_mines(df):
    
    shifts = [df.shift(1) - df,
     df.shift(-1) - df,
    df.shift(1, axis=1) - df,
    df.shift(-1, axis=1) - df,
    df.shift(1).shift(axis=1) - df,
    df.shift(-1).shift(axis=1) - df,
    df.shift(1).shift(-1, axis=1) - df,
    df.shift(-1).shift(-1, axis=1) - df]
    main = df.copy()
    for shift in shifts:
        main += clean(shift)
    main[df == 1] = 'X'

    return main

In [103]:
main

   A    B  C  D  E    F  G  H  I
A  X  2.0  X  1  0  0.0  0  0  0
B  1  2.0  1  1  0  0.0  0  0  0
C  0  0.0  1  2  2  1.0  0  0  0
D  0  0.0  1  X  X  1.0  1  1  1
E  1  1.0  2  3  3  1.0  2  X  2
F  X  1.0  1  X  1  1.0  3  X  3
G  1  1.0  1  1  1  1.0  X  3  X
H  0  0.0  0  0  0  1.0  1  2  1
I  0  0.0  0  0  0  0.0  0  0  0